

/****************

Global Styles


Colors
------
Lime Green: #BCDF1C;
Purple: #850c70;
Dark Grey: #4e4a47;
***************/
.location {

	background: red;
}
h3,p {

	font-weight: 200;
}

h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 3.5rem;
	letter-spacing: 1px;
}
.button{

	background: #BCDF1C;
	color:#333333;
	font-weight: 200;
}

.button:hover{

	background: #ad208e;
	color:#fcfcfc;
	font-weight: 200;
}


.bordergrey {
	background: none repeat scroll 0 0 #999999;
	display: block;
	height: 2px;
	margin: 0 auto;
	width: 175px;
	margin-bottom: 40px;

}

.borderwhite {
	background: none repeat scroll 0 0 #fcfcfc;
	display: block;
	height: 2px;
	margin: 0 auto;
	width: 175px;
	margin-bottom: 40px;

}


.active {

	background:red;
}



/*********

 Global Page Header 
 
 ***********/

 	a img  {

 		margin-top: 12px;
 		margin-left: 20px
 	}

.hero p.scroll {
	margin-top: 100px;
}
 	
 	video#bgvid {

	position: absolute; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
	}


 	.hero {
	height:100%;
	width:100%;
	/*background: url('/img/header.jpg') center no-repeat;*/
	z-index: 100;
	
	}

	.hero p {

		margin-top: 350px;
		z-index: -50;
		
	}



@media screen and (max-height: 700px) {
    .hero p {
        margin-top: 150px;
    }
}


	.top-bar.expanded .title-area {

		background: #fcfcfc;
	}
	
	.top-bar, .top-bar-section li:not(.has-form) a:not(.button),.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a,.top-bar .toggle-topbar a {
		
		background:#fcfcfc;
		color:#333333;
		font-size: 1.25rem;
		font-weight: 200;
		
		}


		.top-bar-section li:not(.has-form) a:not(.button):active {

			background: red;
		}

		.top-bar-section li:not(.has-form) a:not(.button):hover{

		background: #850c70;
		color:#fcfcfc;
		font-size: 1.25rem;
		font-weight: 200;
		
		}

		.top-bar-section ul li {

			border-right: solid 1px #eee;
		}

	.top-bar .toggle-topbar.menu-icon a, .menu-icon, .top-bar .name span a {

		color:#333333;
	}
.top-bar-section li.active:not(.has-form) a:not(.button) {

	background: #BCDF1C;
	color:#333333; 
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover{

	background: #ad208e;
	color:#fcfcfc;
}
/*****************

	Intro

*******************/

.intro {

	padding-top:40px;
	padding-bottom:20px;
	background: #4e4a47;
	z-index: 50;

}

.intro p {
	color: white;
	font-size: 18px;
	font-weight: 200;
}

.intro h2 {
	color: #fcfcfc;
	font-weight: 700;
	font-size: 3.5rem;
	letter-spacing: 1px;
}
 
.intro img {
	height: 100%;
	width: 100%;
}







/********* 

Pricing Tables

************/

.colorrow2 {

	background: #FCFCFC;
	width: 100%;
	padding-top:20px;
	padding-bottom:20px;
}

.pricing-table .title {

	background: #850c70;
	font-weight: 200;
}


/*****************

	Speakers

****************/


.colorrow{
	background: #4e4a47;
	width: 100%;
	padding-top:20px;
	padding-bottom:20px;
	margin-top: -25px;
}
.colorrow h4{
	color:#fcfcfc;
	font-weight: 200;
}

.colorrow h2 {
	color: #fcfcfc;
	font-weight: 700;
	font-size: 3.5rem;
	letter-spacing: 1px;
}

.colorrow p{
	color: #BCDF1C;
	font-weight: 200;
}

img.speakerphoto {

	border-radius: 50%;
	border: solid 2px #fcfcfc; 
}

img.speakerphoto2 {

	border-radius: 50%;
	width: 100px;
	border: solid 2px #fcfcfc; 
}


/**************

Testimonial

**********/

.testimonial h5 {

padding: 10px 20px 10px 20px;
font-weight: 200;
}

.testrow {

	background: #4e4a47;
	width: 100%;
	padding-top:40px;
	color: #BCDF1C;
	font-weight: 200;
	position: absolute;
}

.testrow h5{

	color: #fcfcfc;
	font-weight: 200;
}

.testrow h2 {
	color: #fcfcfc;
	font-weight: 700;
	font-size: 3.5rem;
	letter-spacing: 1px;

}

.bubble 
{
position: relative;
width: 100%;
height: 100%;
padding: 0px;
background: #00aeef;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #00aeef transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 135px;
}

/************** 

	Hotel 

***************/

.hotel {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 40px;
	/*background: url('/img/hampton.jpg')center no-repeat;*/
	background-size: cover;
	font-weight: 200;
	background: #00aeef;
	color: #fcfcfc;

}

 .hotel h3 {

	color: #fcfcfc;
}

.hotel h2 {

	color: #fcfcfc;
	font-weight: 700;
	font-size: 3.5rem;
	letter-spacing: 1px;
}

.hotel a {

	color: #333333;
}

/*.hotel img{

	border-radius: 50%;
}*/

/*div.rates {

	padding-left: 20px;
	margin-bottom: 40px;
	text-align: center;
	color:#850c70;
	margin-left: 150px;
	width: 400px;
	font-weight: 200;
}*/
div.rates h4{

	color:#fcfcfc;
	font-weight: 200;
}

.hotelinfo {
	padding-left: 40px;
}

/*****************

	Schedule

**************/

.colorrow3 {


	background: #ad208e; /* Old browsers */
	background: linear-gradient(90deg, #ad208e 0%,#701358 50%);

	width: 100%;
	padding-top:20px;
	padding-bottom:20px;
	font-weight: 200;
}


button.active {

	background: #BCDF1C;
	color:#333333;
	font-weight: 200;
}

button.active:hover {

	background: #ad208e;
	color:#fcfcfc;
	font-weight: 200;
}

/*.schedule img {

	box-shadow: 5px 5px 20px #cccccc;
}*/

.schedule h2, .schedule p, .schedule h3 {

	color: #fcfcfc;
	font-weight: 200;
}

.schedule h2 {

	color: #fcfcfc;
	font-weight: 700;
	font-size: 3.5rem;
	letter-spacing: 1px;
}


/********************

	5 Reasons

*******************/


.fivereasons {

	background: #fcfcfc;
}
.fivereasons h3 {

	color: #850c70;
	font-weight: 200;
}


/****************

	Workshop

****************/

.workshop {

	background: #fcfcfc;
	width: 100%;
	padding-top:20px;
	padding-bottom:20px;
	font-weight: 200;
	margin-top: -40px;	

}

.workshop p, .workshop ul{

	color:#333333;
	font-weight: 200;
}

.workshop h2{

	font-weight: 700;
	font-size: 3.5rem;
	letter-spacing: 1px;
}
.workshop h3 {

	color:#850c70;
	font-weight: 200;
}



/*********************

	Map Styles

*****************/

#map {
        height:400px;
        width:50%;
        margin:0 auto;
        border: solid 1px #eeeeee;
    }
    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }


   /* .locationinfo {

    	z-index: 1000;
    	margin-bottom: -26%;
    }*/


